:host {
  /**
   * @prop --bit-color-primary: Color used for the border, background and inner text of the button.
   * @prop --bit-color-contrast: Color used for the inner text when button is active or using the "filled" variant
   * @prop --bit-font-family: Font family used by the inner text
   */

  display: inline-block;
}

:host(.full-width) {
  width: 100%;
}

button {
  border-radius: 4px;
  border: 2px solid var(--bit-color-primary);
  box-sizing: border-box;
  font-family: var(--bit-font-family);
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  transition:
    color 0.2s,
    background-color 0.2s,
    box-shadow 0.2s,
    transform 0.2s;
  width: inherit;
}

button:hover:enabled {
  cursor: pointer;
  background-color: var(--bit-color-primary);
  color: var(--bit-color-contrast);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 16px;
  transform: translateY(-2px);
}

button:active:enabled {
  box-shadow: none;
  transform: translateY(0);
}

button:disabled {
  opacity: 0.3;
}

.outlined {
  color: var(--bit-color-primary);
  background-color: transparent;
}

.filled {
  color: var(--bit-color-contrast);
  background-color: var(--bit-color-primary);
}

.small {
  font-size: 0.875rem;
  padding: 12px 20px;
}

.medium {
  font-size: 1rem;
  padding: 16px 24px;
}

.large {
  font-size: 1.125rem;
  padding: 20px 28px;
}
