:host {
  display: inline-block;
}

:host(.full-width) {
  width: 100%;
}

button {
  border: 2px solid var(--bit-color-primary);
  border-radius: 12px;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--bit-color-primary);
  font-family: var(--bit-font-family);
  font-weight: 600;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s, box-shadow 0.2s, transform 0.2s;
  width: inherit;
}

button:hover:enabled {
  cursor: pointer;
  background-color: var(--bit-color-primary);
  color: var(--bit-color-active);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 16px;
  transform: translateY(-2px);
}

button:active:enabled {
  box-shadow: none;
  transform: translateY(0);
}

button:disabled {
  opacity: 0.3;
}

.small {
  font-size: 0.875rem;
  padding: 12px 20px;
}

.medium {
  font-size: 1rem;
  padding: 16px 24px;
}

.large {
  font-size: 1.125rem;
  padding: 20px 28px;
}
